<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @route.name %>
</p>

<p>
  <strong>Список поездов:</strong>
  <% if @route.trains %>
    <% @route.trains.each do |train| %>
      <%= train.train_number %>
    <% end %>
  <% else %>
    На маршруте нет поездов
  <% end %>
</p>

<%= link_to 'Edit', edit_route_path(@route) %> |
<%= link_to 'Back', routes_path %>
