<p id="notice"><%= notice %></p>

<p>
  <strong>Название:</strong>
  <%= @route.name %>
</p>

<p>
  <strong>Станции в маршруте:</strong>
</p>

<p>
  <% if @route.railway_stations.empty? %>
    Список пуск
  <% else %>
    <ul>
      <% @route.railway_stations.each do |station| %>
        <li><%= station.title %></li>
      <% end %>
    </ul>
  <% end %>
</p>

<p>
  <strong>Список поездов:</strong>
  <% if @route.trains.empty?%>
    На маршруте нет поездов
  <% else %>
    <% @route.trains.each do |train| %>
      <li><%= train.train_number %></li>
      <% end %>
  <% end %>
</p>

<%= link_to 'Edit', edit_route_path(@route) %> |
<%= link_to 'Back', routes_path %>
