<p id="notice"><%= notice %></p>

<p>
  <strong>Номер вагона:</strong>
  <%= @vagon.vagon_number %>
</p>
<p>
  <strong>Тип вагона:</strong>
  <%= @vagon.vagon_type %>
</p>

<%= link_to 'Редактировать', edit_vagon_path(@vagon) %> |
<%= link_to 'Назад', vagons_path %>
