<%= form_for(@wagon) do |f| %>
  <%= render 'common/errors', resources: @wagon %>

<!--   <div class="field">
    <%= f.label :number, 'Номер вагона'%><br>
    <%= f.number_field :number %>
  </div> -->

  <div class="field">
    <%= f.label :train_id, 'Укажите поезд:'%><br>
    <%= f.collection_select :train_id, Train.all, :id, :number %>
  </div>

  <div class="field">
    <%= f.label :wagon_type, 'Укажите тип вагона:'%><br>
    <%= f.select :wagon_type, [['Купейный'], ['Плацкартный']] %>
  </div>

  <div class="field">
    <%= f.label :up_seats, 'Укажите количество верхних мест:'%><br>
    <%= f.number_field :up_seats %>
  </div>

  <div class="field">
    <%= f.label :down_seats, 'Укажите количество нижних мест:'%><br>
    <%= f.number_field :down_seats %>
  </div>

  <div class="actions">
    <%= f.submit @wagon.new_record? ? 'Создать' : 'Обновить' %>
  </div>
<% end %>
