<p id="notice"><%= notice %></p>

<p>
  <strong>Train number:</strong>
  <%= @train.train_number %>
</p>

<p>
  <strong>Маршрут:</strong>
  <% if @train.route.present? %>
    <%= @train.route.name %>
  <% else %>
    Маршрут не назначен
  <%end%>
</p>

<p>
  <strong>Количество вагонов:</strong>
  <% if @train.vagons.empty? %>
    Вагонов нет
  <% else %>
    <ul>
      <li>Плацкартных вагонов:<%= @train.vagon_type('EconomyCarriage').count %></li>
      <li>Купейных вагонов:<%= @train.vagon_type('CoupeCarriage').count %></li>
      <li>Сидячих вагонов:<%= @train.vagon_type('SedentaryCarriage').count %></li>
      <li>СВ:<%= @train.vagon_type('LuxuryCarriage').count %></li>
      Места:
      <li>Плацкартные верхние:<%= @train.vagon_type('EconomyCarriage').sum(:up_seat) %></li>
      <li>Купейные верхние:<%= @train.vagon_type('CoupeCarriage').sum(:up_seat) %></li>
      <li>Плацкартные нижние:<%= @train.vagon_type('EconomyCarriage').sum(:down_seat) %></li>
      <li>Купейные нижние:<%= @train.vagon_type('CoupeCarriage').sum(:down_seat) %></li>
      <li>Сидячие:<%= @train.vagon_type('SedentaryCarriage').sum(:seat_place) %></li>
    </ul>
  <% end %>
</p>

<%= link_to 'Edit', edit_train_path(@train) %> |
<%= link_to 'Back', trains_path %>
