<p>
  <strong>Number:</strong>
  <%= @train.number %>
</p>
<p>
  <strong>Поезд на маршруте:</strong>
  <% if @train.route.present? %>
    <%= @train.route.name %>
  <% else %>
    Маршрут не назначен
  <% end %>
</p>

<p>
  <strong>Количество вагонов:</strong>
  <% if @train.wagons.empty? %>
    Вагонов нет
  <% else %>
<table>
  <tr>
    <td>
      <% @train.wagons.each do |wagon| %>
      <li><%= link_to "Вагон №#{wagon.number}", [@train, wagon] %></li> 
      <% end %>
    </td>
    <td>
      <ul>
      <li>Плацкартных вагонов:<%= @train.wagon_type('EconomyCarriage').count %></li>
      <li>Купейных вагонов:<%= @train.wagon_type('CoupeCarriage').count %></li>
      <li>Сидячих вагонов:<%= @train.wagon_type('SedentaryCarriage').count %></li>
      <li>СВ:<%= @train.wagon_type('SWCarriage').count %></li>
      <strong>Места:</strong>
      <li>Плацкартные верхние:<%= @train.wagon_type('EconomyCarriage').sum(:up_seats) %></li>
      <li>Купейные верхние:<%= @train.wagon_type('CoupeCarriage').sum(:up_seats) %></li>
      <li>Плацкартные нижние:<%= @train.wagon_type('EconomyCarriage').sum(:down_seats) %></li>
      <li>Купейные нижние:<%= @train.wagon_type('CoupeCarriage').sum(:down_seats) %></li>
      <li>Сидячие:<%= @train.wagon_type('SedentaryCarriage').sum(:seat_place) %></li>
      </ul>
    </td>
  </tr>
</table>
  <% end %>     
</p>

<p>
  <%= link_to "Добавить вагон", new_train_wagon_path(@train) %>
</p>

<%= link_to 'Edit', edit_train_path(@train) %> |
<%= link_to 'Back', trains_path %>
