<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @train.number %>
</p>
<p>
  <strong>Поезд на маршруте:</strong>
  <% if @train.route.present? %>
    <%= @train.route.name %>
  <% else %>
    Маршрут не назначен
  <% end %>
</p>

<p>
  <strong>Количество вагонов:</strong>
  <% if @train.wagons.empty? %>
    Вагонов нет
  <% else %>
    <ul>
      <li>Плацкартных:<%= @train.wagon_type('Плацкартный').count %></li>
      Верхних мест:<%= @train.wagon_type('Плацкартный').sum(:up_seats) %>
      Нижних мест:<%= @train.wagon_type('Плацкартный').sum(:down_seats) %>
      <li>Купейных:<%= @train.wagon_type('Купейный').count %></li>
      Верхних мест:<%= @train.wagon_type('Купейный').sum(:up_seats) %>
      Нижних мест:<%= @train.wagon_type('Купейный').sum(:down_seats) %>
    </ul>
  <% end %>
</p>
<%= link_to 'Edit', edit_train_path(@train) %> |
<%= link_to 'Back', trains_path %>
